# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
coverage/

# Platform builds
windows/runner/Release/
macos/Flutter/ephemeral/
linux/flutter/ephemeral/

# Outputs / binaries
DIST/
*.exe
*.zip
*.log

# Backups
*.bak_*
